* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-decoration: none;
}

:root {
  --vh: 100vh;
}

body {
  background: #eee;
}
ul {
  list-style-type: none;
}
